# See: https://cibuildwheel.readthedocs.io/en/stable/options/

[tool.cibuildwheel]
# Customize what to build
# build="cp36-manylinux_x86_64"

before-build = """
pydevd_attach_to_process/linux_and_mac/compile_linux.sh
pip install cython
python build_tools/build.py
"""
